<% if((typeof(localsSessionCookie)!='undefined')&&(localsSessionCookie != "")){ %>
<%- include common/headerDashboard.ejs %>
<% }else{%>
<%- include common/header.ejs %>
<% } %>
<%- include header/survey.ejs %>
    <main class="main">
        <div class="container-fluid" style="margin:0px;padding:0px;">
        <div id="surveyEditorContainer"></div>

        <div id="modalGuardar" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Guardar encuesta</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="tituloEncuesta">Título de encuesta</label>
                                <input class="form-control" id="nomEncuesta" name="nomEncuesta" placeholder="(título de encuesta)">
                            </div>
                            <div class="form-group">
                                <label for="organizacionEncuesta">Organización</label>
                                <select class="form-control" id="selOrganizaciones" name="selOrganizaciones"></select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="btnGuardarEncuesta">Guardar</button>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </div>
    </main>

    </div>
<%- include common/footerDashboard.ejs %>