<% if((typeof(localsSessionCookie)!='undefined')&&(localsSessionCookie != "")){ %>
<%- include common/headerUsuario.ejs %>
<% }else{%>
<%- include common/header.ejs %>
<% } %>
<%- include header/survey.ejs %>

<div id="surveyEditorContainer"></div>

<div id="modalGuardar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Guardar encuesta</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="tituloEncuesta">Título de encuesta</label>
                    <input class="form-control" id="nomEncuesta" name="nomEncuesta" placeholder="(título de encuesta)">
                </div>
                <div class="form-group">
                    <label for="organizacionEncuesta" class="col-sm-2 control-label">Organización</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="selOrganizaciones" name="selOrganizaciones"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnGuardarEncuesta">Guardar</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%- include common/footer.ejs %>