<% if((typeof(localsSessionCookie)!='undefined')&&(localsSessionCookie != "")){ %>
  <%- include common/headerDashboard.ejs %>
  <% }else{%>
  <%- include common/header.ejs %>
  <% } %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--
      JQUERY
    -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
    crossorigin="anonymous"></script>
    
    
<!-- Stylesheets for React Components 
    ============================================= -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" ></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <!-- ReactFire -->
    <script src="https://cdn.firebase.com/libs/reactfire/1.0.0/reactfire.min.js"></script>
    <!-- throw-in-the-towel -->
    <script src="https://unpkg.com/throw-in-the-towel@2"></script>
    <!-- Initialize the Firebase SDK -->
    <script  src="/javascripts/src/components/Firebase/firebase.js" crossorigin></script>
    
    <main class="main">

    

    <ol class="breadcrumb">
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <div align="right">
                <a class="btn btn-block btn-success" href="/builder/"><i class="icon-plus icons" style="margin-right:5px"></i>Crear Encuesta</a>
            </div>
        </div>
      </li>
    </ol>

    <script>
        var UserID = "<%= UserID %>";
    </script>
    
    <div id="container" class="container-fluid">
    </div>  
    <script  type="text/jsx" src="/javascripts/src/components/Organizacion/index.js" crossorigin></script>
    
    </main>

    </div>
    <footer class="app-footer">
      <div>
        <a href="https://coreui.io">CoreUI</a>
        <span>&copy; 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto"> 
        <span>Powered by</span>
        <a href="https://coreui.io">CoreUI</a>
      </div>
    </footer>
    <script src="/coreui/js/coreui.min.js"></script>
</body>
</html>