<% if(locals.sessionCookie != ""){ %>
<%- include common/headerUsuario.ejs %>
<% }else{%>
<%- include common/header.ejs %>
<% } %>

<div id="container">
    <h3>Bienvenido </h3>
</div>


<%- include common/footer.ejs %>