<% if((typeof(localsSessionCookie)!='undefined')&&(localsSessionCookie != "")){ %>
  <%- include common/headerDashboard.ejs %>
  <% }else{%>
  <%- include common/header.ejs %>
  <% } %>   
  

    <!--
      Libreria Chart.js
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/prop-types@15.6.0/prop-types.min.js"></script>
    <script src="https://unpkg.com/create-react-class@15.6.2/create-react-class.min.js"></script>
    <script src="https://unpkg.com/react-addons-update/react-addons-update.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

 
     <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

     <!-- Stylesheets for React Components 
      ============================================= -->
      <meta charset="utf-8">


        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.5/react-bootstrap.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" type='text/css'/>

      <!-- ReactFire -->
      <script src="https://cdn.firebase.com/libs/reactfire/1.0.0/reactfire.min.js"></script>
      <!-- throw-in-the-towel -->
      <script src="https://unpkg.com/throw-in-the-towel@2"></script>
      <!-- Initialize the Firebase SDK -->
      <script  src="/javascripts/src/components/Firebase/firebase.js" crossorigin></script>
  
      <!-- Leaflet Maps-->
      <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
      <!-- Leaflet Maps-->

      <main class="main">
        <ol class="breadcrumb">
          
          <li class="breadcrumb-menu d-md-down-none">
          <div class="btn-group" role="group" aria-label="Button group">
          <a class="btn" >
            <!-- Button Agregar Grafica -->
            <button type="button" class="breadcrumb-item btn-success" data-toggle="modal" data-target="#modalGrafica">
                Agregar Gráfica
            </button>            
          </a>
          <a class="btn" href="#">
            <button type="button" class="breadcrumb-item btn-secondary" data-toggle="modal" data-target="#exampleModal">
              Editar
            </button>
          </a>
          </div>
          </li>
        </ol>

        
      <!-- Modal ZOOM -->
      <div class="modal" id="zoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id ="zoomBody" class="modal-body">
              <canvas id="zoomCanvas" >

              </canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal" id="modalGrafica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecciona la Columna</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12 col-lg-12 col-sm-12">
                          <div class="input-group" id="btnGroupEncuesta">
                            <div class="input-group-btn" id="modal_Encuesta">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pregunta
                                </button>
                                <ul id ="menuDropEncuesta" class="dropdown-menu">
                                </ul>
                            </div>
                            <input type="text" enable ="false" class="form-control" id="validationSelectedColum" placeholder="Selected Column"  disabled>
                          </div>
                            <!-- Example single danger button -->
                      </div>
                  </div>

                  <div class="dropdown-divider"></div>

                  <!-- Example single danger button -->

                  <div class="row">
                    <div class="col-lg-6" align="center">
                        <label for="checkPie"><img src="/assets/images/icon_pie.png" width="50px"/></label><br/>
                        Pie<input class="graphTypeCheck" type="radio" id="checkPie" name="graphType" aria-label="...">
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6" align="center">
                        <label for="checkHistogram"><img src="/assets/images/icon_histogram.png" width="50px"/></label><br/>
                        Histograma<input class="graphTypeCheck" type="radio" id="checkHistogram" name="graphType" aria-label="...">
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_DropdownSave" type="button" class="btn btn-primary">Agregar</button>
              </div>
            </div>
          </div>
      </div>
   

      <div id="container" class="container-fluid">
      </div>  
      <script>
         var id       = "<%= id %>";
         var org      = "<%= org %>";
       </script>

      <!--mapa!-->
      <script  type="text/babel" src="/javascripts/src/components/General/Resumen.js" crossorigin></script>
      <script  type="text/babel" src="/javascripts/src/components/General/Mapa.js" crossorigin></script>
      <!--mapa!-->

      <script  type="text/babel" src="/javascripts/src/components/Organizacion/Listbox.js" crossorigin></script>  
      <script  type="text/jsx" src="/javascripts/src/components/Encuesta/index.js" crossorigin></script>
      <script  type="text/babel" src="/javascripts/src/components/graphics/Histograma.js" crossorigin></script>
      <script  type="text/babel" src="/javascripts/src/components/graphics/Pie.js" crossorigin></script>
      <script  type="text/babel" src="/javascripts/src/components/graphics/Grid.js" crossorigin></script>
      
      

    </div>
    <footer class="app-footer">
      <div>
        <a href="https://coreui.io">CoreUI</a>
        <span>&copy; 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto"> 
        <span>Powered by</span>
        <a href="https://coreui.io">CoreUI</a>
      </div>
    </footer>
    <script src="/coreui/js/coreui.min.js"></script>
</body>
</html>