<% if((typeof(localsSessionCookie)!='undefined')&&(localsSessionCookie != "")){ %>
	<%- include common/headerUsuario.ejs %>
	<% }else{%>
	<%- include common/header.ejs %>
	<% } %>
		<!-- Slider #1
		============================================= -->
		<section id="slider" class="section slider text-center">
			<div class="slide--item">
				<div class="bg-section">
					<img src="assets/images/background/bg-1.jpg" alt="bg">
				</div>
				<div class="container">
					<div class="row row-content mt-30">
						<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1 pt-100">
							<div class="slide--headline">Recolecta información <span class="typed-text" data-typed-string="online, offline, en todo momento, a tu gusto"></span> </div>
							<div class="slide--bio">Con la herramienta Survy diseñe su encuesta y distribuyala con su equipo de trabajo</div>
							<div class="slide--action">
								<a class="btn btn--primary btn--rounded" href="#">Iniciar</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" data-wow-duration="1s">
							<div class="slide--holder mt-100">
								<img class="img-responsive center-block" src="assets/images/mockup/1.png" alt="screens">
							</div>
						</div>
					</div>
					<!-- .row end -->
				</div>
				<!-- .container end -->
			</div>
			<!-- .slide-item end -->

		</section>
		<!-- #slider end -->
		
		<!-- Feature #1
		============================================= -->
		<section id="feature1" class="section feature text-center bg-white">
			<div class="container">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
						<div class="heading heading-1 mb-80 text--center wow fadeInUp" data-wow-duration="1s">
							<h2 class="heading--title">Características</h2>
							<p class="heading--desc">Deja que las capacidades hablen por nuestro producto !</p>
							<div class="divider--line divider--center"></div>
						</div>
					</div>
					<!-- .col-md-6 end -->
				</div>
				<!-- .row end -->
				<div class="row">
					<!-- Panel #1 -->
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
							<div class="feature--icon">
								<i class="lnr lnr-screen"></i>
							</div>
							<div class="feature--content">
								<h3>Diseña tu encuesta</h3>
								<p>Con nuestra herramienta, diseña tu propia encuesta seleccionando diferentes tipos de preguntas que pueden adaptarse al diseño de tu instrumento</p>
							</div>
						</div>
						<!-- .feature-panel end -->
					</div>
					<!-- .col-md-4 end -->

					<!-- Panel #2 -->
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
							<div class="feature--icon">
								<i class="lnr lnr-pie-chart"></i>
							</div>
							<div class="feature--content">
								<h3>Analiza tu data</h3>
								<p>Utiliza la información recolectada para poder generar gráficas que puedan ayudarte a entender lo que tu público objetivo opinó</p>
							</div>
						</div>
						<!-- .feature-panel end -->
					</div>
					<!-- .col-md-4 end -->

					<!-- Panel #3 -->
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
							<div class="feature--icon">
								<i class="lnr lnr-chart-bars"></i>
							</div>
							<div class="feature--content">
								<h3>Comparte tu información</h3>
								<p>Descarga tu información a Excel o cualquier otro software de análisis para poder extender tu trabajo y crear informes sorprendentes</p>
							</div>
						</div>
						<!-- .feature-panel end -->
					</div>
					<!-- .col-md-4 end -->
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</section>
		<!-- #feature2 end -->
	
		<!-- Feature #2
		============================================= -->
		<section id="feature2" class="section feature feature-2">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-5">
						<div class="wow fadeInUp" data-wow-duration="1s">
							<i class="lnr lnr-rocket"></i>
							<div class="divider--line"></div>
							<h2 class="">Aprovecha cada plataforma</h2>
							<p class="">Nuestra herramienta se adapta para que puedas aprovechar las herramientas de escritorio y móviles para el diseño de la encuesta y la recolección de datos. Es así de fácil!</p>
						</div>
					</div><!-- .col-md-6 end -->
					<div class="col-xs-12 col-sm-6 col-md-7 wow fadeInUp">
						<img class="img-responsive center-block" src="assets/images/mockup/2.png" alt="device"/>
					</div><!-- .col-md-6 end -->
				</div><!-- .row end -->
			</div>
			<!-- .container end -->
		</section>
		<!-- #feature2 end -->
		<!-- Divider
		============================================= -->
		<section class="pt-0 pb-0">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<hr class="feature-divider">
					</div>
				</div><!-- .row end -->
			</div><!-- .container end -->
		</section>
		<!-- Feature #2
		============================================= -->
		<section id="feature2" class="section feature feature-2">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-7 wow fadeInUp">
						<img class="img-responsive center-block" src="assets/images/mockup/3.png" alt="device"/>
					</div><!-- .col-md-6 end -->
					<div class="col-xs-12 col-sm-6 col-md-5">
						<div class="wow fadeInUp" data-wow-duration="1s">
							<i class="lnr lnr-pointer-up"></i>
							<div class="divider--line"></div>
							<h2 class="">Sincroniza tus datos</h2>
							<p class="">Te ofrecemos la habilidad de trabajar online / offline, para que tu equipo pueda movilizarse a zonas remotas sin Internet y aún así no perder el trabajo</p>
						</div>
					</div><!-- .col-md-6 end -->
					
				</div><!-- .row end -->
			</div>
			<!-- .container end -->
		</section>
		<!-- #feature2 end -->
		<!-- Video #1
		============================================= -->
		<section id="video1" class="video-button bg-white">
			<div class="container">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
						<div class="heading heading-1 mb-80 text--center wow fadeInUp" data-wow-duration="1s">
							<h2 class="heading--title">¿Cómo funciona?</h2>
							<p class="heading--desc">Una imagen vale mas que mil palabras, aprende con nuestros expertos!</p>
							<div class="divider--line divider--center"></div>
						</div>
					</div>
					<!-- .col-md-6 end -->
				</div>
				<!-- .row end -->
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
						<div class="video--content">
							<div class="bg-section">
								<img src="assets/images/background/bg-2.jpg" alt="Background"/>
							</div>
							<div class="video--button">
								<a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
										<i class="fa fa-play"></i>
								</a>
							</div><!-- .video--button end -->
						</div><!-- .video--content end -->
					</div><!-- .col-md-6 end -->
				</div><!-- .row end -->
			</div><!-- .container end -->
		</section><!-- #video1 end -->

		<!-- reviews
        ============================================= -->
		<section id="reviews" class="section reviews pb-70">
			<div class="container">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
						<div class="heading heading-1 mb-80 text--center wow fadeInUp" data-wow-duration="1s">
							<h2 class="heading--title">Deja que nuestros clientes te cuenten</h2>
							<p class="heading--desc">Nuestra experiencia en el campo nos ayuda a crecer día con día</p>
							<div class="divider--line divider--center"></div>
						</div>
					</div>
					<!-- .col-md-6 end -->
				</div>
				<!-- .row end -->

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<!--  Testimonial #1  -->
						<div class="testimonial-panel wow fadeInUp" data-wow-duration="1s">
							<div class="testimonial--img">
									<img src="assets/images/testimonials/1.png" alt="author">
								</div>
							<div class="testimonial--body">
									<p>“Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupida non proident sunt in culpa qui officia deserunt.”</p>
									<div class="testimonial--author">
										<h5>Mark Smith</h5>
									</div>
								</div>
						</div>
					</div><!-- .col-md-6 End -->
					
					<div class="col-xs-12 col-sm-6 col-md-6">
						<!--  Testimonial #1  -->
						<div class="testimonial-panel wow fadeInUp" data-wow-duration="1s">
							<div class="testimonial--img">
									<img src="assets/images/testimonials/2.png" alt="author">
								</div>
							<div class="testimonial--body">
									<p>“Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupida non proident sunt in culpa qui officia deserunt.”</p>
									<div class="testimonial--author">
										<h5>Jessy Arthur</h5>
									</div>
								</div>
						</div>
					</div><!-- .col-md-6 End -->
					
					<div class="col-xs-12 col-sm-6 col-md-6">
						<!--  Testimonial #1  -->
						<div class="testimonial-panel wow fadeInUp" data-wow-duration="1s">
							<div class="testimonial--img">
									<img src="assets/images/testimonials/3.png" alt="author">
								</div>
							<div class="testimonial--body">
									<p>“Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupida non proident sunt in culpa qui officia deserunt.”</p>
									<div class="testimonial--author">
										<h5>Maya Jonson</h5>
									</div>
								</div>
						</div>
					</div><!-- .col-md-6 End -->
					
					<div class="col-xs-12 col-sm-6 col-md-6">
						<!--  Testimonial #1  -->
						<div class="testimonial-panel wow fadeInUp" data-wow-duration="1s">
							<div class="testimonial--img">
									<img src="assets/images/testimonials/4.png" alt="author">
								</div>
							<div class="testimonial--body">
									<p>“Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupida non proident sunt in culpa qui officia deserunt.”</p>
									<div class="testimonial--author">
										<h5>Steve Martin</h5>
									</div>
								</div>
						</div>
					</div><!-- .col-md-6 End -->
				</div><!-- .row End -->
			</div>
				<!-- .container End -->
		</section>
		<!-- #reviews End-->

		<!-- Pricing Table #1
		============================================= -->
		<section id="pricing" class="section pricing bg-white">
			<div class="container">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
						<div class="heading heading-1 mb-80 text--center wow fadeInUp" data-wow-duration="1s">
							<h2 class="heading--title">Precio</h2>
							<p class="heading--desc">Nos adaptamos a tus necesidades y tu ritmo de crecimiento</p>
							<div class="divider--line divider--center"></div>
						</div>
					</div>
					<!-- .col-md-6 end -->
				</div>
				<!-- .row end -->
				<div class="row">
					<!-- Pricing Packge #1
					============================================= -->
					<div class=" col-xs-12 col-sm-4 col-md-4 price-table wow fadeInUp" data-wow-duration="1s">
						<div class="pricing-panel">
							<!--  Pricing heading  -->
							<div class="pricing--heading text--center">
								<h4>Curioso</h4>
								<div class="pricing--heading">
									<p><span class="currency">Q</span>2,500</p>
									<div class="pricing--desc">
										Recolección menor de datos
									</div>
								</div>
							</div>
							<!--  Pricing body  -->
							<div class="pricing--body">
								<ul class="list-unstyled">
									<li>Hasta 5 encuestas</li>
									<li>Cantidad limitada de respuestas</li>
									<li><i class="lnr lnr-cross"></i></li>
									<li><i class="lnr lnr-cross"></i></li>
								</ul>
								<a class="btn btn--secondary btn--bordered btn--rounded" href="#">Get Started</a>
							</div>
							<!--  Pricing Body  -->
						</div>
					</div>
					<!-- .pricing-table End -->

					<!-- Pricing Packge #2
					============================================= -->
					<div class=" col-xs-12 col-sm-4 col-md-4 price-table wow fadeInUp" data-wow-duration="1s">
						<div class="pricing-panel pricing-active">
							<!--  Pricing heading  -->
							<div class="pricing--heading text--center">
								<h4>Profesional</h4>
								<div class="pricing--heading">
									<p><span class="currency">Q</span>5,000</p>
									<div class="pricing--desc">
										Recolección moderada de datos
									</div>
								</div>
							</div>
							<!--  Pricing body  -->
							<div class="pricing--body">
								<ul class="list-unstyled">
									<li>Hasta 40 encuestas</li>
									<li>Cantidad ilimitada de respuestas</li>
									<li>División por proyectos</li>
									<li>Usuarios divididos por proyectos</li>
								</ul>
								<a class="btn btn--primary btn--rounded" href="#">Get Started Now</a>
							</div>
							<!--  Pricing Body  -->
						</div>
					</div>
					<!-- .pricing-table End -->

					<!-- Pricing Packge #3
					============================================= -->
					<div class=" col-xs-12 col-sm-4 col-md-4 price-table wow fadeInUp" data-wow-duration="1s">
						<div class="pricing-panel">
							<!--  Pricing heading  -->
							<div class="pricing--heading text--center">
								<h4>Investigador</h4>
								<div class="pricing--heading">
									<p><span class="currency">Q</span>15,000</p>
									<div class="pricing--desc">
										Cantidad masiva de datos
									</div>
								</div>
							</div>
							<!--  Pricing body  -->
							<div class="pricing--body">
								<ul class="list-unstyled">
									<li>Hasta 40 encuestas</li>
									<li>Cantidad ilimitada de respuestas</li>
									<li>División por proyectos</li>
									<li>Usuarios divididos por proyectos</li>
									<li>Integración con sistemas internos</li>
								</ul>
								<a class="btn btn--secondary btn--bordered btn--rounded" href="#">Get Started</a>
							</div>
							<!--  Pricing Body  -->
						</div>
					</div>
					<!-- .pricing-table End -->
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</section>
		<!-- #pricing1 end -->
		
		<!-- Newsletter #1
		============================================= -->
		<section id="newsletter" class="section newsletter text-center">
			<div class="container">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<div class="heading heading-1 mb-60 text--center wow fadeInUp" data-wow-duration="1s">
							<h2 class="heading--title">Hablemos de opciones</h2>
							<p class="heading--desc">Envíanos tu email y con gusto nos pondremos en contacto para aclarar todas tus dudas </p>
						</div>
					</div>
					<!-- .col-md-6 end -->
				</div>
				<!-- .row end -->
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<form class="mb-0 form-action wow fadeInUp" data-wow-duration="1s">
							<div class="input-group">
								<input type="email" class="form-control" placeholder="E-mail address">
								<span class="input-group-btn">
									<input type="submit" class="btn btn--primary" value="Subscribe" name="submit">
								</span>
							</div>
							<!-- .input-group end -->
						</form>
					</div>
					<!-- .col-md-12 end -->
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</section>
		<!-- #newsletter end -->

<%- include common/footer.ejs %>
<script>
		var $navAffix = $(".header-fixed .navbar-fixed-top");
		$navAffix.affix({
			offset: {
				top: 50
			}
		});
			</script>