<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

    <!-- ReactFire -->
    <script src="https://cdn.firebase.com/libs/reactfire/1.0.0/reactfire.min.js"></script>

    <!-- throw-in-the-towel -->
    <script src="https://unpkg.com/throw-in-the-towel@2"></script>

    <!-- Initialize the Firebase SDK -->
    <script  src="javascripts/src/components/Firebase/firebase.js" crossorigin></script>

    <!--
    <script>
      var config = {
        apiKey: "AIzaSyBvXXZwnBCJ3Z0iWQAFtqI9Q8ixZelhvGU",
        authDomain: "bdsurvey-4d97c.firebaseapp.com",
        databaseURL: "https://bdsurvey-4d97c.firebaseio.com",
        projectId: "bdsurvey-4d97c",
        storageBucket: "bdsurvey-4d97c.appspot.com",
        messagingSenderId: "792353618616"
      };
      firebase.initializeApp(config);
    </script>-->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="aplicacionReact">

    </div>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script  type="text/jsx" src="javascripts/src/components/Organizacion/index.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

  </body>
</html>
