<%- include common/header.ejs %>
  <div id="container" style="min-height:300px">
    <h3>Acceso de usuarios</h3>
    <div id="loading">Loading...</div>
    <div id="redirecting" class="hidden">Redirecting...</div>
    <div id="firebaseui-container"></div>
  </div>
  <%- include common/footer.ejs %>
