<%- include common/header.ejs %>
  <div id="container">
    <h3>Session Management Demo</h3>
    <div id="loading">Loading...</div>
    <div id="redirecting" class="hidden">Redirecting...</div>
    <div id="firebaseui-container"></div>
  </div>
  <%- include common/footer.ejs %>
