.popup1 {
    position: absolute; will-change: transform; top: 0px; left:auto !important;transform: translate3d(0px, 35px, 0px);
  }
  
  .nav-icon {
    font-size: 1.3rem !important;
    margin-right: 20px !important;
  }

  .btnDescargaCSV{
    margin-right:5px;
  }

  .graphTypeCheck{
    margin-left:5px !important;
  }

.btn {
  padding:6px 12px!important;
}