.popup1 {
    position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);
  }
  
  .nav-icon {
    font-size: 1.3rem !important;
    margin-right: 20px !important;
  }

  