
	
    
		<!-- Footer 
		============================================= -->
		<footer id="footer" class="footer footer-5">
                <!-- Copyrights
                ============================================= -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="footer--copyright">
                                <span>&copy; 2019 Survy.</a>
                            </div>
                        </div><!-- .col-md-6 end -->
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="footer--social text-right">
                                <a class="account-twitter" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="account-facebook" href="#"><i class="fab fa-facebook"></i></a>
                                <a class="account-vimeo" href="#"><i class="fab fa-vimeo"></i></a>
                                <a class="account-instagram" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div><!-- .col-md-6 end -->
    
                    </div><!-- .row end -->
                </div>
                <!-- .container end -->
            </footer>

		</div>
        <!-- #wrapper end -->
		<!-- Footer Scripts
============================================= -->
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/tpl.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/loginLib.js"></script>
</body>

</html>